<!DOCTYPE HTML>

@using IPCLogger.ConfigurationService.Entities;
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<PageModel>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Configuration Console</title>

    @Html.Partial("partials/_refs.cshtml", Model)
</head>

<body class="bg-light">

    @Html.Partial("partials/_header.cshtml", Model)

    <div class="container-fluid">
        <div class="row">

            <nav class="col-lg-2 d-none d-lg-block bg-light sidebar">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link @(Model.PageType != PageType.Users ? "active" : "")" href="/applications">
                                <svg class="feather" viewBox="0 0 24 24">
                                    <path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path>
                                    <polyline points="9 22 9 12 15 12 15 22"></polyline>
                                </svg>Applications
                            </a>
                            <a class="nav-link @(Model.PageType == PageType.Users ? "active" : "")" href="/users">
                                <svg class="feather" viewBox="0 0 24 24">
                                    <path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path>
                                    <circle cx="9" cy="7" r="4"></circle>
                                    <path d="M23 21v-2a4 4 0 0 0-3-3.87"></path>
                                    <path d="M16 3.13a4 4 0 0 1 0 7.75"></path>
                                </svg>Users
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>

            <main role="main" class="col-md-10 col-lg-12">

                <ol style="margin: 0; padding: 0; display: flex; list-style: none; height: 56px" class="pt-3 pb-2">
                    @foreach (PageModel model in Model.Reverse())
                    {
                        if (model == Model)
                        {
                            <li class="breadcrumb-item active h5" aria-current="page">@(model.Caption)</li>
                        }
                        else
                        {
                            <li class="breadcrumb-item h5"><a href="@(model.PagePath)">@(model.Caption)</a></li>
                        }
                    }
                </ol>

                @Html.Partial(string.Format("partials/{0}.cshtml", Model.PageName), Model.Model)
            </main>

        </div>
    </div>

    @Html.Partial("partials/_footer.cshtml", Model)

</body>

</html>